<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>937355746824-9qsc2unl7alob8jskpamih666khva9mq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.937355746824-9qsc2unl7alob8jskpamih666khva9mq</string>
	<key>API_KEY</key>
	<string>AIzaSyADEtX0GfLGv-xM8jf3d9gfb5fh5ULahuA</string>
	<key>GCM_SENDER_ID</key>
	<string>937355746824</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>codecrew.BufetecAppPrototipo</string>
	<key>PROJECT_ID</key>
	<string>buffetec-cc59e</string>
	<key>STORAGE_BUCKET</key>
	<string>buffetec-cc59e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:937355746824:ios:2b11532be237a792863bbd</string>
</dict>
</plist>